{% extends "myapp/base.html" %}
{% load static %}

{% block content %}

    <div class="col-4 offset-4">
        
        <form action="" method="POST" class="form-horizontal">
            <h1>Enter new password</h1>
            <p> Please enter your new password twice so we can verify you typed it in correctly. </p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change my Password</button>
        </form>
    </div>

{% endblock content %}
