{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
<br>

{% comment %} {% for userprofile in userprofile  %} {% endcomment %}
<div class="col-8 offset-2">
    <div class="card text-center">
        <div class="card-header">
        Welcome {{ userprofile.user.username }}
        </div>
        <div class="col-4 offset-4">
            <h1>User Profile</h1>
        
            
                <p><strong>First name:</strong> {{ userprofile.user.first_name }}</p>
                <p><strong>Last name:</strong> {{ userprofile.user.last_name }}</p>
                <p><strong>Username:</strong> {{ userprofile.user.username }}</p>
                <p><strong>Email:</strong> {{ userprofile.user.email }}</p>
                <p><strong>Address:</strong> {{ userprofile.Address }}</p>
                <p><strong>City:</strong> {{ userprofile.City }}</p>
                <p><strong>State:</strong> {{ userprofile.State }}</p>
                <p><strong>Coin:</strong> {{ account.account_balance }}</p>
        </div>
        <div class="card-footer text-body-secondary">
            <a href="{% url 'udpate_profile' userprofile.id %}" class="btn btn-primary"> Edit profile </a>
            <a href="{% url 'transaction' %}" class="btn btn-info"> Show transaction </a>
        </div>
    </div>
</div>
{% comment %} {% endfor %} {% endcomment %}

{% endblock content %}
